<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <title>Подтверждение аккаунта</title>
  </head>
  <style>
    body {
      background-color: #fefef9;
    }
    h2 {
      color: #181511;
    }
  </style>
  <body>
    <h2>Ваш аккаунт успешно подтверждён!</h2>
    <br /><br /><text>Теперь Вы можете использовать приложение "МИСУ Мирный" 
        и получить доступ ко всем функциональным возможностям!</text>
  </body>
</html>